<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
	<connectionStrings>
    <add name="UserProjectEntities" connectionString="Data Source=10.11.112.94; Initial Catalog=TestKaftaInsert;Persist Security Info=True;User ID=sa; Password=Emids123;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
	<appSettings>
	<!-- Kafka Settings -->
	<add key="BrokerList" value="localhost:9092"/>
	<add key="enable.auto.commit" value="true"/>
	<add key="auto.commit.interval.ms" value="5000"/>
	<add key="statistics.interval.ms" value="60000"/>
	<add key="auto.offset.reset" value="latest"/>
	<add key="queue.buffering.max.messages" value="1000000"/>
	<add key="queue.buffering.max.ms" value="100"/>
	<add key="message.send.max.retries" value="10"/>
	<add key="retry.backoff.ms" value="1000"/>
	<add key="message.timeout.ms" value="15000"/>
	<add key="acks" value="all"/>
 </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>